@font-face {
  font-family: 'Slabo 13px';
  font-style: normal;
  font-weight: 400;
  src: local('Slabo 13px'), local('Slabo13px-Regular'), url(https://fonts.gstatic.com/s/slabo13px/v3/fScGOqovO8xyProgHURSR_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
}
