
*.bak
*.shtml~
*.txt~
*.html~
*.shtml#
client/boardspace-java/boardspace-core/common/Salt.java
client/boardspace-codename1/boardspace core/common/Salt.java
server/websockify/startserver~
server/websockify/websocket.o
server/websockify/websockify.o
client/boardspace-maven/boardspacedevelop/android/\#pom.xml\#
client/boardspace-maven/boardspacedevelop/common/pom.xml~
