<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="descent.debug.core.localDApplication">
<stringAttribute key="descent.debug.core.PROGRAM_NAME" value="G:\share\projects\eclipse\boardspace\gipf\GipfPlay.java"/>
<stringAttribute key="descent.debug.core.PROJECT_ATTR" value="boardspace"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/boardspace"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>
