<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.javaApplet">
<listAttribute key="edu.buffalo.cse.jive.preferences.common_filters">
<listEntry value="antlr.*"/>
<listEntry value="com.apple.*"/>
<listEntry value="com.mysql.*"/>
<listEntry value="com.sun.*"/>
<listEntry value="java.*"/>
<listEntry value="javax.*"/>
<listEntry value="org.apache.*"/>
<listEntry value="org.eclipse.*"/>
<listEntry value="org.hibernate.*"/>
<listEntry value="org.jcp.*"/>
<listEntry value="org.junit.*"/>
<listEntry value="org.postgresql.*"/>
<listEntry value="org.w3c.*"/>
<listEntry value="org.xml.*"/>
<listEntry value="sun.*"/>
<listEntry value="$Proxy*"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/boardspace core/boardspace-core/online/Root.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<intAttribute key="org.eclipse.jdt.launching.APPLET_HEIGHT" value="200"/>
<stringAttribute key="org.eclipse.jdt.launching.APPLET_NAME" value=""/>
<mapAttribute key="org.eclipse.jdt.launching.APPLET_PARAMETERS">
<mapEntry key="bannerMode" value="S"/>
<mapEntry key="debug" value="true"/>
<mapEntry key="extraactions" value="false"/>
<mapEntry key="extramouse" value="false"/>
<mapEntry key="final" value="true"/>
<mapEntry key="language" value="englishStrings"/>
<mapEntry key="lobbyportnumber" value="2255"/>
<mapEntry key="localfile" value="false"/>
<mapEntry key="lowmemory" value="false"/>
<mapEntry key="ngames" value="10"/>
<mapEntry key="nrobotgames" value="9"/>
<mapEntry key="playerclass" value="2"/>
<mapEntry key="reviewerdir0" value="file:///g:/share/projects/boardspace.net/htdocs/zertz/games/"/>
<mapEntry key="reviewerdir1" value="file:///g:/share/projects/boardspace.net/htdocs/loa/games/"/>
<mapEntry key="reviewerdir10" value="file:///g:/share/projects/boardspace.net/htdocs/tablut/games/"/>
<mapEntry key="reviewerdir13" value="file:///g:/share/projects/boardspace.net/htdocs/dipole/games"/>
<mapEntry key="reviewerdir2" value="file:///g:/share/projects/boardspace.net/htdocs/plateau/games/"/>
<mapEntry key="reviewerdir3" value="file:///g:/share/projects/boardspace.net/htdocs/yinsh/games"/>
<mapEntry key="reviewerdir4" value="file:///g:/share/projects/boardspace.net/htdocs/hex/games/"/>
<mapEntry key="reviewerdir5" value="file:///g:/share/projects/boardspace.net/htdocs/trax/games/"/>
<mapEntry key="reviewerdir6" value="file:///g:/share/projects/boardspace.net/htdocs/punct/games/"/>
<mapEntry key="reviewerdir7" value="file:///g:/share/projects/boardspace.net/htdocs/gobblet/games/"/>
<mapEntry key="reviewerdir8" value="file:///g:/share/projects/boardspace.net/htdocs/hive/games/"/>
<mapEntry key="reviewerdir9" value="file:///g:/share/projects/boardspace.net/htdocs/exxit/games/"/>
<mapEntry key="robot" value="true"/>
<mapEntry key="robotexit" value="true"/>
<mapEntry key="robotinlobby" value="true"/>
<mapEntry key="robotlaunchplayers" value="4"/>
<mapEntry key="robotlevel" value="0"/>
<mapEntry key="robotmaxsession" value="3"/>
<mapEntry key="robotminsession" value="2"/>
<mapEntry key="serverkey" value="1.2.3.30"/>
<mapEntry key="servername" value="local.boardspace.net"/>
<mapEntry key="stealth" value="false"/>
<mapEntry key="uid" value="2"/>
<mapEntry key="uidranking" value="20 Z 1501   20 Z 1001 20  L 1500 20 Z11 1499"/>
<mapEntry key="username" value="dumbot1"/>
<mapEntry key="xgame" value="zertz"/>
<mapEntry key="xuid" value="20"/>
</mapAttribute>
<intAttribute key="org.eclipse.jdt.launching.APPLET_WIDTH" value="200"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="online.Root"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="boardspace core"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx256M"/>
</launchConfiguration>
