<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.javaApplet">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/boardspace/online/Root.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<intAttribute key="org.eclipse.jdt.launching.APPLET_HEIGHT" value="200"/>
<stringAttribute key="org.eclipse.jdt.launching.APPLET_NAME" value=""/>
<mapAttribute key="org.eclipse.jdt.launching.APPLET_PARAMETERS">
<mapEntry key="bannermode" value="S"/>
<mapEntry key="debug" value="true"/>
<mapEntry key="extraactions" value="true"/>
<mapEntry key="extramouse" value="true"/>
<mapEntry key="lobbyportnumber" value="2255"/>
<mapEntry key="localfile" value="false"/>
<mapEntry key="mapcenter_x" value="0.747"/>
<mapEntry key="mapcenter_y" value="0.0"/>
<mapEntry key="ngames" value="8"/>
<mapEntry key="nrobotgames" value="6"/>
<mapEntry key="reviewerdir0" value="file:///g:/share/projects/boardspace.net/htdocs/zertz/games/"/>
<mapEntry key="reviewerdir1" value="file:///g:/share/projects/boardspace.net/htdocs/loa/games/"/>
<mapEntry key="reviewerdir2" value="file:///g:/share/projects/boardspace.net/htdocs/plateau/games/"/>
<mapEntry key="reviewerdir3" value="file:///g:/share/projects/boardspace.net/htdocs/yinsh/games"/>
<mapEntry key="reviewerdir4" value="file:///g:/share/projects/boardspace.net/htdocs/hex/games/"/>
<mapEntry key="reviewerdir5" value="file:///g:/share/projects/boardspace.net/htdocs/trax/games/"/>
<mapEntry key="reviewerdir6" value="file:///g:/share/projects/boardspace.net/htdocs/punct/games/"/>
<mapEntry key="reviewerdir7" value="file:///g:/share/projects/boardspace.net/htdocs/gobblet/games/"/>
<mapEntry key="robotlobby" value="solo"/>
<mapEntry key="serverkey" value="1.2.3.4"/>
<mapEntry key="servername" value="local.boardspace.net"/>
<mapEntry key="stealth" value="true"/>
<mapEntry key="uid" value="1"/>
<mapEntry key="uidranking" value="1 Z 1501 2 Z 1001 L 1 1500 Z11 1 1499"/>
<mapEntry key="xgame" value="zertz"/>
<mapEntry key="xusername" value="ddyer"/>
</mapAttribute>
<intAttribute key="org.eclipse.jdt.launching.APPLET_WIDTH" value="200"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="online.Root"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="boardspace"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx256M"/>
</launchConfiguration>
