<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/boardspace core/boardspace-core/util/JWSApplication.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="util.JWSApplication"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="boardspace"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="servername local.boardspace.net&#13;&#10;reviewonly true&#13;&#10;debug true&#13;&#10;extraactions true&#13;&#10;extramouse true&#13;&#10;gamename Hex&#13;&#10;viewerclass hex.HexGameViewer&#13;&#10;playersingame 2&#13;&#10;reviewerdir0 file:///g:/share/projects/boardspace-html/htdocs/goban/gogames/"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="boardspace"/>
</launchConfiguration>
