<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/boardspace core/boardspace-core/util/JWSApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="util.JWSApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="servername local.boardspace.net&#13;&#10;reviewonly true&#13;&#10;debug true&#13;&#10;extraactions true&#13;&#10;extramouse true&#13;&#10;gamename gipf-standard&#13;&#10;viewerclass gipf.GipfViewer&#13;&#10;playersingame 2&#13;&#10;gameindex 0&#13;&#10;reviewerdir0 file:///g:/share/projects/boardspace-html/htdocs/gipf/gipfgames/"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="boardspace"/>
</launchConfiguration>
