<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.javaApplet">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/boardspace core/boardspace-core/online/Root.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.preferred_launchers"/>
<intAttribute key="org.eclipse.jdt.launching.APPLET_HEIGHT" value="400"/>
<stringAttribute key="org.eclipse.jdt.launching.APPLET_NAME" value=""/>
<mapAttribute key="org.eclipse.jdt.launching.APPLET_PARAMETERS">
<mapEntry key="boardchatPercent" value="10"/>
<mapEntry key="debug" value="true"/>
<mapEntry key="extraactions" value="true"/>
<mapEntry key="extramouse" value="true"/>
<mapEntry key="final" value="true"/>
<mapEntry key="gamename" value="plateau"/>
<mapEntry key="localfile" value="true"/>
<mapEntry key="playersingame" value="2"/>
<mapEntry key="reviewerdir0" value="file:///g:/share/projects/boardspace-html/htdocs/plateau/plateaugames"/>
<mapEntry key="reviewonly" value="true"/>
<mapEntry key="rootReviewer" value="true"/>
<mapEntry key="servername" value="local.boardspace.net"/>
<mapEntry key="viewerClass" value="plateau.common.PlateauGameViewer"/>
</mapAttribute>
<intAttribute key="org.eclipse.jdt.launching.APPLET_WIDTH" value="400"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="online.Root"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="boardspace"/>
</launchConfiguration>
