<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/boardspace core/boardspace-core/util/JWSApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="util.JWSApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="reviewonly true&#13;&#10;debug true&#13;&#10;extraactions true&#13;&#10;extramouse true&#13;&#10;gametype mbrane-simple&#13;&#10;viewerclass mbrane.MbraneViewer&#13;&#10;gameindex 0&#13;&#10;reviewerdir0 file:///g:/share/projects/boardspace-html/htdocs/mbrane/mbranegames/"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="boardspace"/>
</launchConfiguration>
