<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.javaApplet">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/boardspace"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<intAttribute key="org.eclipse.jdt.launching.APPLET_HEIGHT" value="200"/>
<stringAttribute key="org.eclipse.jdt.launching.APPLET_NAME" value=""/>
<mapAttribute key="org.eclipse.jdt.launching.APPLET_PARAMETERS">
<mapEntry key="GameType" value="Palabra"/>
<mapEntry key="chatpercent" value="0"/>
<mapEntry key="debug" value="true"/>
<mapEntry key="extraactions" value="true"/>
<mapEntry key="extramouse" value="true"/>
<mapEntry key="final" value="true"/>
<mapEntry key="localfile" value="true"/>
<mapEntry key="playersingame" value="5"/>
<mapEntry key="randomseed" value="0"/>
<mapEntry key="reviewerdir0" value="file:///g:/share/projects/boardspace-html/htdocs/palabra/palabragames"/>
<mapEntry key="reviewonly" value="true"/>
<mapEntry key="servername" value="local.boardspace.net"/>
<mapEntry key="viewerClass" value="palabra.PalabraViewer"/>
</mapAttribute>
<intAttribute key="org.eclipse.jdt.launching.APPLET_WIDTH" value="200"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="online.Root"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="boardspace"/>
</launchConfiguration>
