BODY {  	scrollbar-face-color: #003366; scrollbar-shadow-color: #999999; scrollbar-highlight-color: #757D86; scrollbar-3dlight-color: #C0C0C0; scrollbar-darkshadow-color: #5A6672; scrollbar-track-color: #415569; scrollbar-arrow-color: #FFFFFF;}
.basic {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 16px}
.copyright {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 12px; color: #000000}
.big {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 24px}.home { font-family: Georgia, "Times New Roman", Times, serif; font-size: 14px}
